@import url('https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500&display=swap');

body{
  background-color: #fcb58c;
}
main{
    margin: 0 auto;
    color:rgb(54, 54, 54);
    position: relative;
}
h1{
    margin: 1rem;
}
#copr{
    font-weight: 300;
    margin-bottom: 1rem;
}
.Player{
    margin: 0 auto;
    background-color:rgb(233, 233, 233);
    width: 50%;
    border-radius: 1rem;
    padding: 2rem;
    min-height: 25rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.2);
}
.PlayerButtons{
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.button{
    display: inline-block;
    font-size: 2rem; 
    padding: 1rem;
    margin: 0 0.25rem;
    color: rgba(54, 54, 54, 0.4);
    vertical-align: middle;
    cursor: pointer;
    transition: background-color .2s;
}
.buttonPlayPause{
    font-size: 4rem;
    margin: 0 1.5rem;
    color: rgb(54, 54, 54);
	cursor: pointer;
    vertical-align: middle;
}
.AlbumCover{
    margin: 0 auto;
    width: 80%;
}
img{
    width: 100%;
	height: 100%;
	z-index: 10;
	object-fit: cover;
    border-radius: 1rem;
}
#song{
    font-size: 1.5rem;
    font-weight: 500;
    margin: 2rem 0 0 0;
}
#artist{
    margin: 0.5rem 0 2rem 0;
    font-size: 1rem;
    color: rgb(110, 110, 110);
}
.title{
    text-align: center;
}
.timer {
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}
.k-progress-outer {
    padding: 0 10px !important;
}
.k-progress-outer-line{
    background: #fcb58c !important;
    height: 10px !important;
}
a.button, a.buttonPlayPause{
    transition: 200ms ;
    transition-timing-function: linear;
}
a.button:hover{
    color: rgb(54, 54, 54);
}
a.buttonPlayPause:hover{
    color: rgba(54, 54, 54, 0.4);
}
@media screen and (max-width: 1000px) {
    .Player{
        width: 60%
    }
    .AlbumCover{
        width: 80%;
    } 
}
@media screen and (max-width: 800px) {
    .Player{
        width: 80%;
        padding: 0;
    }
    .AlbumCover{
        width: 80%;
        padding-top: 20px;
    }
}
@media screen and (max-width: 630px) {
    .Player{
        width: 100%;
    }
    .buttonPlayPause{
        font-size: 3.5rem;
    }
    .AlbumCover{
        width: 80%;
        padding-top: 20px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 430px) {
    .buttonPlayPause{
        font-size: 3.5rem;
        margin: 0 1rem;
    }
    .button{
        font-size: 35px;
    }
    .PlayerButtons{
        padding-bottom: 10px;
    }
    .AlbumCover{
        width: 70%;
    }
}
@media screen and (max-width: 340px) {
    .buttonPlayPause{
        font-size: 50px;
        margin: 0 7px;
    }
    .button{
        font-size: 35px;
    }
}